<ion-header class="cabecera">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="nosotros"></ion-menu-button> 
    </ion-buttons>
    <div class="logo-contenedor">
      <img src="assets/img/Logo tienda.png" alt="Logo Tiendita" class="logo-img">
      <ion-title>La Tiendita</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="information-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<!-- Menu lateral -->
<ion-menu side="start" menu-id="nosotros" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="nose"routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item class="nose"button routerLink="/abarrotes">
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-item>
      <ion-item class="nose"button routerLink="/carrito">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-item>
      <ion-item class="nose"button routerLink="/perfil">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-item routerLink="/login" color="danger">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="main-content">

  <section class="acerca-de">
    <div class="contenedor">
        <div class="texto-iframe">
            <div class="texto">
                <h2>Acerca de Nosotros - Abarrotes La Tiendita</h2>
                <p>Somos Abarrotes La Tiendita, tu tienda de confianza donde encuentras todo lo que necesitas para tu hogar. Nos especializamos en ofrecerte productos de calidad al mejor precio. Desde alimentos básicos hasta productos de limpieza y mucho más, estamos aquí para satisfacer tus necesidades diarias.</p>
                <p>Nuestro compromiso es proporcionarte un servicio excepcional y una experiencia de compra agradable. Con años de experiencia en el mercado, sabemos lo que nuestros clientes valoran: variedad, calidad y atención personalizada.</p>
                <p>Visítanos en nuestra tienda física o realiza tus compras en línea a través de nuestro sitio web. Estamos aquí para servirte y hacer tu vida más fácil.</p>
            </div>
            
        </div>
        <div class="imagen">

            <img src="assets/img/abarroteslo.jpg" alt="Imagen" class="img-fluid">
        </div>
    </div>
</section>

</ion-content>