<ion-header class="cabecera">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button> 
    </ion-buttons>
    <ion-title>Tarjetas</ion-title>
    <div class="logo-contenedor">
      <img src="assets/img/Logo tienda.png" alt="Logo Tiendita" class="logo-img">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Pago con Tarjeta</h2>
  <p>Registra tu tarjeta BBVA o Mastercard y realiza el pago de forma segura con PayPal.</p>

  <!-- Contenedor del botón de PayPal -->
  <div id="paypal-button-container"></div>
</ion-content>
