<header class="bg-pink py-3">
    <nav>
        <ul>
            <a href="/tiendita/inicio">
                <li><i class="activo"></i>Inicio</li>
            </a>
            <a href="/tiendita/usuarios">
                <li class=""><i class="fa fa-user"></i>Usuarios</li>
            </a>
            <a href="/tiendita/clientes">
               <li> <i class="fa fa-user"></i>Clientes</li>
            </a>
            <a href="/tiendita/productos">
                <li><i class="fa fa-shopping-cart"></i>Productos</li>
            </a>
            <a href="/tiendita/inicio">
                <li><i class="fa fa-sign-out"></i>Cerrar sesión</li>
            </a>
        </ul>
    </nav>
</header>