<app-header></app-header>

<section class="compra">
    <main class="main-container">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/frijoles.png" class="card-img-top" alt="Frijoles">
            <div class="card-body">
                <h5 class="card-title">Frijoles La Costeña</h5>
                <p class="card-text">Frijoles bayos La Costeña enteros 560g</p>
                <p class="card-text">Precio: $9.50</p>
                <button class="boton" onclick="addToCart('Frijoles La Costeña', 9.50, 'img/frijoles.png')">Agregar al Carrito</button>

            </div>
        </div>

        <!-- Agrega más productos de la misma forma -->
        <div class="card" style="width: 18rem;">
            <img src="assets/img/atun.png" class="card-img-top" alt="Atún">
            <div class="card-body">
                <h5 class="card-title">Atún El Dorado</h5>
                <p class="card-text">Atún enlatado El Dorado en Agua 130g</p>
                <p class="card-text">Precio: $12.00</p>
                <button class="boton" onclick="addToCart('Atún El Dorado', 12.00, 'img/atun.png')">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/arrox.png" class="card-img-top" alt="Arroz">
            <div class="card-body">
                <h5 class="card-title">Arroz Schettino</h5>
                <p class="card-text">Arroz Schettino Super Extra 900g</p>
                <p class="card-text">Precio: $16.00</p>
                <button class="boton" onclick="addToCart('Arroz Schettino', 16.00, 'img/arrox.png')">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/vicky.png" class="card-img-top" alt="Cerveza">
            <div class="card-body">
                <h5 class="card-title">Cerveza Victoria Mega</h5>
                <p class="card-text">Cerveza Victoria Mega 1.2L</p>
                <p class="card-text">Precio: $45.00</p>
                <button class="boton" onclick="addToCart('Cerveza Victoria Mega', 45.00, 'img/vicky.png')">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/Sal.png" class="card-img-top" alt="Sal">
            <div class="card-body">
                <h5 class="card-title">Sal La Fina</h5>
                <p class="card-text">Sal La Fina 1kg</p>
                <p class="card-text">Precio: $27.00</p>
                <button class="boton" onclick="addToCart('Sal La Fina', 27.00, 'img/Sal.png')">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/nutrioli.png" class="card-img-top" alt="Aceite">
            <div class="card-body">
                <h5 class="card-title">Aceite Nutrioli</h5>
                <p class="card-text">Aceite Nutrioli 850ml</p>
                <p class="card-text">Precio: $43.00</p>
                <button class="boton" onclick="addToCart('Aceite Nutrioli', 43.00, 'img/nutrioli.png')">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/cereal.png" class="card-img-top" alt="Cereal">
            <div class="card-body">
                <h5 class="card-title">Cereal Cheerios</h5>
                <p class="card-text">Cereal Cheerios 340g</p>
                <p class="card-text">Precio: $80.00</p>
                <button class="boton" onclick="addToCart('Cereal Cheerios', 80.00, 'img/cereal.png')">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/azucar.png" class="card-img-top" alt="Azúcar">
            <div class="card-body">
                <h5 class="card-title">Azúcar Bueno</h5>
                <p class="card-text">Azúcar Bueno 2Kg</p>
                <p class="card-text">Precio: $49.00</p>
                <button class="boton" onclick="addToCart('Azúcar Bueno', 49.00, 'img/azucar.png')">Agregar al Carrito</button>
            </div>
        </div>
    </main>
</section>

<app-footer></app-footer>
