<app-header></app-header>

<app-banner></app-banner>

<section class="container top-categorias">
    <br>
    <h1>Mejores Categorías</h1>
    <div class="contenedor-cat">
        <div class="card-categoria categoria-abarrotes">
            <p>Abarrotes</p>
            <a routerLink="/tiendita/categorias"><span>Ver más</span></a>
        </div>
        <div class="card-categoria categoria-limpieza">
            <p>Limpieza</p>
            <a routerLink="/tiendita/limpieza"><span>Ver más</span></a>
        </div>
        <div class="card-categoria categoria-dulceria">
            <p>Dulcería</p>
            <a routerLink="/tiendita/dulceria"><span>Ver más</span></a>
        </div>
    </div>
</section>

<app-footer></app-footer>

