<form>
    <div class="form-header">
        <a href="/tiendita/login">
            <img src="assets/img/flecha.png" alt="INICIO" height="40px" width="40px">
        </a>
        <h2>Registrarse</h2>
    </div>
    <div class="input-group">
        <label for="email">Correo</label>
        <input type="email" maxlength="30" name="email" id="email" placeholder="Correo">
        <br>
        <label for="name">Nombre de Usuario</label>
        <input type="text" maxlength="30" name="name" id="name" placeholder="Usuario">
        <br>
        <label for="phone">Contraseña</label>
        <input type="password" maxlength="30" name="phone" id="phone" placeholder="Contraseña">
        <br>
        <label for="phone">Introduzca de nuevo su contraseña</label>
        <input type="password" maxlength="30" name="phone" id="phone" placeholder="Contraseña">

        <a href="/tiendita/login" class="bton">Registrarse</a>
    </div>
</form>