<app-barra></app-barra>
<div class="contenido">
    <h1>Usuarios</h1>
    <p>Gestión de usuarios</p>
    <div class="btn-agregar">
        <a href="/tiendita/registro-usuarios">
            <button><i class="fa fa-plus"></i> Agregar Usuario</button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
                <td>{{ usuario.nombreUsuario }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.contrasena1 }}</td>
                <td>
                    <a [routerLink]="['/tiendita/registro-usuarios']" [queryParams]="{ editar: i }">Editar</a>
                    <button (click)="eliminarUsuario(i)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
