
<form>
    <div class="form-header">
        <a href="/tiendita/inicio">
            <img src="assets/img/flecha.png" alt="INICIO" height="40px" width="40px">
        </a>
        <h2>Inicio de sesión</h2>
    </div>
    <div class="input-group">
        <label for="name">Nombre de usuario</label>
        <input type="text" maxlength="30" name="name" id="name" placeholder="Usuario">
        <br>
        <label for="phone">Contraseña</label>
        <input type="password" maxlength="30" name="phone" id="phone" placeholder="Contraseña">
        <br>
        <div class="olvido">¿Olvidó su Contraseña?</div>
        <a class="registro" href="/tiendita/registro">Registrarse</a>
        <br>
        <a href="/tiendita/inicio" class="bton">Iniciar</a>
    </div>
</form>

