<app-header></app-header>

<section class="acerca-de">
    <div class="contenedor">
        <div class="texto-iframe">
            <div class="texto">
                <h2>Acerca de Nosotros - Abarrotes La Tiendita</h2>
                <p>Somos Abarrotes La Tiendita, tu tienda de confianza donde encuentras todo lo que necesitas para tu hogar. Nos especializamos en ofrecerte productos de calidad al mejor precio. Desde alimentos básicos hasta productos de limpieza y mucho más, estamos aquí para satisfacer tus necesidades diarias.</p>
                <p>Nuestro compromiso es proporcionarte un servicio excepcional y una experiencia de compra agradable. Con años de experiencia en el mercado, sabemos lo que nuestros clientes valoran: variedad, calidad y atención personalizada.</p>
                <p>Visítanos en nuestra tienda física o realiza tus compras en línea a través de nuestro sitio web. Estamos aquí para servirte y hacer tu vida más fácil.</p>
            </div>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3772.7519402785165!2d-96.71756442479686!3d18.986559582199682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDU5JzExLjYiTiA5NsKwNDInNTQuMCJX!5e0!3m2!1ses!2smx!4v1720992523862!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="imagen">
            <!-- Aquí puedes añadir tu imagen -->
            <img src="assets/img/abarroteslo.jpg" alt="Imagen" class="img-fluid">
        </div>
    </div>
</section>

<app-footer></app-footer>
