<app-header></app-header>

<section class="compra">
    <main class="main-container">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/cheetos.png" class="card-img-top" alt="Chetos">
            <div class="card-body">
                <h5 class="card-title">Cheetos Torciditos</h5>
                <p class="card-text">Cheetos Torciditos 240g</p>
                <p class="card-text">Precio: $15.00</p>
                <button onclick="addToCart('Cheetos Torciditos', 15.00, 'img/cheetos.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/coca.png" class="card-img-top" alt="Coca">
            <div class="card-body">
                <h5 class="card-title">Refresco Coca Cola</h5>
                <p class="card-text">Refresco Coca Cola 750ml</p>
                <p class="card-text">Precio: $25.00</p>
                <button onclick="addToCart('Refresco Coca Cola 750ml', 25.00, 'img/coca.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/senzo.png" class="card-img-top" alt="Galletas">
            <div class="card-body">
                <h5 class="card-title">Galletas Emperador Senzo</h5>
                <p class="card-text">Galletas Emperador Senzo 93g</p>
                <p class="card-text">Precio: $15.00</p>
                <button onclick="addToCart('Galletas Emperador Senzo', 15.00, 'img/senzo.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/rocko.png" class="card-img-top" alt="Rocko">
            <div class="card-body">
                <h5 class="card-title">Mini Rocko</h5>
                <p class="card-text">Mini Rocko 10g</p>
                <p class="card-text">Precio: $5.00</p>
                <button onclick="addToCart('Mini Rocko', 5.00, 'img/rocko.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/monster.png" class="card-img-top" alt="Monster">
            <div class="card-body">
                <h5 class="card-title">Monster Energy</h5>
                <p class="card-text">Monster Energy 473ml</p>
                <p class="card-text">Precio: $40.00</p>
                <button onclick="addToCart('Monster Energy', 40.00, 'img/monster.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/boing.png" class="card-img-top" alt="Boing">
            <div class="card-body">
                <h5 class="card-title">Boing de Mango</h5>
                <p class="card-text">Boing de Mango 500ml</p>
                <p class="card-text">Precio: $15.00</p>
                <button onclick="addToCart('Boing de Mango', 15.00, 'img/boing.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/doritos.png" class="card-img-top" alt="Doritos">
            <div class="card-body">
                <h5 class="card-title">Doritos Nacho</h5>
                <p class="card-text">Doritos Nacho 146g</p>
                <p class="card-text">Precio: $17.00</p>
                <button onclick="addToCart('Doritos Nacho', 17.00, 'img/doritos.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/payaso.png" class="card-img-top" alt="Paleta-Payaso">
            <div class="card-body">
                <h5 class="card-title">Paleta Payaso</h5>
                <p class="card-text">Paleta Payaso 45g</p>
                <p class="card-text">Precio: $20.00</p>
                <button onclick="addToCart('Paleta Payaso', 20.00, 'img/payaso.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

    </main>
</section>

<app-footer></app-footer>

