<app-header></app-header>

<section class="compra">
    <main class="main-container">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/axion.png" class="card-img-top" alt="Axion">
            <div class="card-body">
                <h5 class="card-title">Axion</h5>
                <p class="card-text">Jabón para Trastes Axion 1.1L</p>
                <p class="card-text">Precio: $67.00</p>
                <button onclick="addToCart('Axion', 67.00, 'img/axion.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/cloro.png" class="card-img-top" alt="Cloro">
            <div class="card-body">
                <h5 class="card-title">Cloralex</h5>
                <p class="card-text">Cloralex Blanqueador 950ml</p>
                <p class="card-text">Precio: $19.50</p>
                <button onclick="addToCart('Cloralex', 19.50, 'img/cloro.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/esponja.png" class="card-img-top" alt="Fibra">
            <div class="card-body">
                <h5 class="card-title">Fibra Scoth-Brite</h5>
                <p class="card-text">Fibra Scoth-Brite 1Pz</p>
                <p class="card-text">Precio: $7.50</p>
                <button onclick="addToCart('Fibra Scoth-Brite', 7.50, 'img/esponja.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/downy.png" class="card-img-top" alt="Downy">
            <div class="card-body">
                <h5 class="card-title">Suavizante Downy</h5>
                <p class="card-text">Suavizante Downy 800ml</p>
                <p class="card-text">Precio: $30.00</p>
                <button onclick="addToCart('Suavizante Downy', 30.00, 'img/downy.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/pinol.png" class="card-img-top" alt="Pinol">
            <div class="card-body">
                <h5 class="card-title">Limpiador Pinol</h5>
                <p class="card-text">Pinol Limpiador Multiusos 2L</p>
                <p class="card-text">Precio: $55.00</p>
                <button onclick="addToCart('Limpiador Pinol', 55.00, 'img/pinol.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/petalo.png" class="card-img-top" alt="Papel petalo">
            <div class="card-body">
                <h5 class="card-title">Papel Higiénico Pétalo</h5>
                <p class="card-text">Papel Higiénico Pétalo 4 rollos</p>
                <p class="card-text">Precio: $33.00</p>
                <button onclick="addToCart('Papel Higiénico Pétalo', 33.00, 'img/petalo.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/escoba.png" class="card-img-top" alt="Escoba">
            <div class="card-body">
                <h5 class="card-title">Escoba Lux</h5>
                <p class="card-text">Escoba Lux 1Pza</p>
                <p class="card-text">Precio: $47.00</p>
                <button onclick="addToCart('Escoba Lux', 47.00, 'img/escoba.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/img/zote.png" class="card-img-top" alt="Zote">
            <div class="card-body">
                <h5 class="card-title">Jabón Zote</h5>
                <p class="card-text">Jabón Zote en Barra 200g</p>
                <p class="card-text">Precio: $11.00</p>
                <button onclick="addToCart('Jabón Zote', 11.00, 'img/zote.png')" class="boton">Agregar al Carrito</button>
            </div>
        </div>
    </main>
</section>


<app-footer></app-footer>
