<header class="header">
    <div class="container">
        <a class="logo-container" routerLink="/tiendita/inicio">
            <img src="assets/img/Logo tienda.png" class="logo" alt="Logo">
        </a>
        <a class="titulo" routerLink="/tiendita/inicio">La Tiendita</a>
        <nav class="nav">
            <ul class="nav-list">
                <li><a routerLink="/tiendita/nosotros">Nosotros</a></li>
                <li><a routerLink="/tiendita/carrito">Carrito</a></li>
                <li><a routerLink="/tiendita/contacto">Contacto</a></li>
                <li><a routerLink="/tiendita/login" target="_blank">Inicio de sesión</a></li>
                <li><a routerLink="/tiendita/usuarios">Admin</a></li>
            </ul>
        </nav>
    </div>
</header>
