/* Banner de la página */
.banner {
    background-image: linear-gradient(100deg, #000000, #00000020), url('/assets/img/Logo tienda.png');
    background-repeat: repeat;
    height: 40rem;
    background-position: center;
    background-size: auto;
    display: flex;
    align-items: center;
}

.content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 10rem 2rem; /* Ajuste de padding para margen interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.banner-texto {
    max-width: 40%;
    margin-right: 2rem; /* Espacio entre el texto y el borde */
}

.banner-texto h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
}

.banner-texto a {
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: rgb(253, 161, 210);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}
/* Carrusel */
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 1s;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
