<section class="banner">
  <div class="content-banner d-flex align-items-center justify-content-between">
      <div class="banner-texto">
          <h2>Abarrotes <br>La Tiendita</h2>
          <a routerLink="/tiendita/categorias">Comprar ahora</a>
      </div>

      <div class="carousel">
        <div #carouselContainer class="carousel-container">
            <div class="slide"><img src="assets/img/promo-viky.png" alt="Imagen 1"></div>
            <div class="slide"><img src="assets/img/promo-limpieza.png" alt="Imagen 2"></div>
            <div class="slide"><img src="assets/img/promo-dulces.png" alt="Imagen 3"></div>
        </div>
        <button class="prev" (click)="moveSlide(-1)">&#10094;</button>
        <button class="next" (click)="moveSlide(1)">&#10095;</button>
      </div>
  </div>
</section>
