<app-barra></app-barra>
<div class="contenido">
    <h1>Clientes</h1>
    <p>Gestión de clientes</p>
    <div class="btn-agregar">
        <a href="/tiendita/registro-clientes">
            <button><i class="fa fa-plus"></i> Agregar Cliente</button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes; let i = index">
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidoP }}</td>
                <td>{{ cliente.apellidoM }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.correo }}</td>
                <td>
                    <button (click)="editarCliente(i)">Editar</button>
                    <button (click)="eliminarCliente(i)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
